
# MongoDB local :
MONGODB_URI=mongodb://localhost:27017
# MongoDB Atlas (version en ligne) :
# MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net
#mongodb+srv://farahghazouani_db_user:gXAK1vH0bSiGMUDA@cluster0.wn4ewpe.mongodb.net/?appName=Cluster0

MONGODB_DB_NAME=olist_bi
